# Steps Data Analysis from experiments.db

This notebook demonstrates how to extract and analyze steps data from the experiments.db database.

In [1]:
import pandas as pd
import sqlite3
import json
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path

# Set up paths
project_root = Path('..')
db_path = project_root / 'experiments.db'

print(f"Database path: {db_path}")
print(f"Database exists: {db_path.exists()}")

Database path: ../experiments.db
Database exists: True

## Method 1: Direct SQLite Query

Found 55 trials with steps data
Columns: ['trial_id', 'participant_id', 'steps', 'step_count', 'step_variance', 'timestamp', 'alpha', 'beta', 'gamma']

,trial_id,participant_id,steps,step_count,step_variance,timestamp,alpha,beta,gamma
0,1,2,"[0.6200000000000006, 1.120000000000001, 1.7400...",NaN,NaN,2025-10-03 14:48:20,85.0,95.0,9.0
1,2,2,"[0.889999999999981, 1.6999999999999638, 2.4899...",78.0,0.018245,2025-10-03 17:53:41,95.0,95.0,0.0
2,3,2,"[0.889999999999981, 1.6999999999999638, 2.4899...",78.0,0.018245,2025-10-03 17:57:24,85.0,95.0,-9.0
3,4,2,"[4.044999999999914, 4.459999999999905, 6.33499...",16.0,0.156962,2025-10-07 12:32:40,105.0,95.0,-9.0
4,5,3,"[2.4249999999999483, 3.1249999999999334, 3.904...",76.0,0.001828,2025-10-07 13:51:45,95.0,95.0,0.0